* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

/* block - 1 */

.img-section {
  height: 700px;
  max-width: auto;
  border: 1px solid black;
  background-color: #ffe2e2;
  background-image: url("../Assists/cloth.png");
}

.img-left-section {
  margin-top: 240px;
  margin-left: 180px;
}

.img-left-section p,
h1,
button {
  line-height: 40px;
}

.img-left-section button {
  line-height: 40px;
  border-radius: 18px;
  height: 50px;
  width: 200px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.img-left-section button:hover {
  line-height: 40px;
  height: 50px;
  width: 200px;
  border-radius: 18px;
  background-color: white;
  transition: all 0.2s linear;
  color: black;
  border: 1px solid black;
}
/* block-2 */
#Summer-Section {
  height: auto;
  width: auto;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

#Summer-Section > p {
  color: #b1c29e;
  font-size: 40px;
  font-weight: bolder;
  font-style: oblique;
}
#Summer-Section > p:hover {
  color: #b1c29e;
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  transition: all 0.6s linear;
  text-shadow: 2px 2px 5px black;
}
#Summer-Section > h2 {
  font-size: 20px;
  font-weight: bolder;
  font-style: oblique;
}
.block-img-section {
  display: flex;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.block-img-section h5 {
  color: gray;
}

.buy {
  height: 60px;
  width: 90px;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.color-box {
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.white {
  background-color: white;
  border: 2px solid black;
}

.color-input {
  display: none;
}

.color-input:checked + .color-box {
  border: 3px solid #000;
}

.block-img-section button {
  font-size: 10px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.block-img-section button:hover {
  border: 1px solid gray;
}

/* block - 3  */

.block-3 {
  display: flex;
  justify-content: center;
}
.block-3-text p,
h3 {
  display: flex;
  justify-content: center;
}
.block-3-text p {
  color: gray;
}
.block-3-text h3 {
  font-size: 30px;
  flex-wrap: wrap;
}

.block-3-text button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 90px;
  background-color: black;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: 220px;
}

/* Parallax Concept */

.pimg1 {
  background-image: url(../Assists/parralax_im.jpg);
  min-height: 100%;
  flex-wrap: wrap;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ptext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 120px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  word-spacing: 8px;
  line-height: 30px;
  /* text-transform: uppercase; */
}
.ptext p {
  font-size: 15px;
}
.ptext h4 {
  font-size: 50px;
}
.ptext h6 {
  font-size: 20px;
}
.ptext button {
  width: 120px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
}

/* Parallax Concept */

/* Spring summer  start*/

.block-4 {
  display: flex;
  gap: 12px;
  margin-top: 40px;
  justify-content: space-evenly;
}
.block-4 section {
  background-color: #ffe2e2;
  height: 540px;
  width: 900px;
  margin-left: 120px;
  margin-top: 120px;
}
.block-4 .left-section {
  height: 900px;
  display: flex;
  width: 700px;
  background-repeat: no-repeat;
  position: relative;
  bottom: 10%;
  left: 5%;
  background-image: url(../Assists/SpringSummerimg.webp);
}

.right-section {
  /* position: relative; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  /* text-align: start; */
  align-items: start;
  justify-content: center;
}

.right-section > span {
  color: gray;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.right-section h4 {
  color: black;
  font-size: 70px;
}
.right-section button {
  background-color: black;
  color: white;
  border: none;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 190px;
}
/* Spring Summer end */

/* Summer_Collection On_Sale */
#Summer-Section-onSale {
  margin-top: 70px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
}
#Summer-Section p {
  color: gray;
}
.block-img-section {
  display: flex;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.block-img-section h5 {
  color: gray;
}
.buy {
  height: 60px;
  width: 90px;
}

.colors {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.color-box {
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}

.black {
  background-color: black;
}

.pink {
  background-color: pink;
}

.white {
  background-color: white;
  border: 2px solid black; /* For visibility */
}

.color-input {
  display: none;
}

.color-input:checked + .color-box {
  border: 3px solid #000;
}

.block-img-section button {
  font-size: 10px;
  height: 30px;
  width: 30px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: white;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 4px;
}
.block-img-section button:hover {
  border: 1px solid gray;
}
/* Summer_Collection On_sale End */

/* Reviews Start */

.Reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.Reviews b {
  text-decoration: underline;
}
.Reviews p {
  color: gray;
  line-height: 2px;
}
.Reviews img {
  height: 60px;
}
.stars {
  display: flex;
  justify-content: center;
  color: #ece852;
}
/* Reviews End */
/* Image 1 */
.block-6 {
  display: flex;
  gap: 40px;
}
.block-img-6 {
  background-image: url(../Assists/pink.png);
  height: 210px;
  width: 270px;
}
.block-img-6 button {
  width: 240px;
  height: 40px;
  line-height: 8px;
  margin-top: 160px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}
.block-img-6 b {
  font-size: 10px;
}
.block-img-6 p {
  font-size: 10px;
  color: gray;
}
/* image 1 end  */

/* Image 2 start*/
.block-img-7 {
  background-image: url(../Assists/White.png);
  height: 210px;
  width: 270px;
}
.block-img-7 button {
  width: 240px;
  height: 40px;
  line-height: 8px;
  margin-top: 160px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
}
.block-img-7 b {
  font-size: 10px;
}
.block-img-7 p {
  font-size: 10px;
  color: gray;
}
/* image 2 end */
/* footer */
footer {
  margin-top: 30px;
}
.footer-1 {
  height: 240px;
  background-color: lightpink;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.About {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: gray;
}
.About p:hover {
  color: black;
}
.AboutUs {
  width: 60px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-2 {
  background-color: black;
  color: white;
  height: 70px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer end */
